.aws
/aws
.env

/terraform_aws/credentials
/terraform_aws/terraform.tfvars
/terraform_aws/terraform.tfstate
/terraform_aws/terraform.tfstate.backup
/terraform_aws/.terraform.lock.hcl
/terraform_aws/.terraform/

/terraform_gcp/terraform.tfvars
/terraform_gcp/credentials
/terraform_gcp/terraform.tfstate
/terraform_gcp/terraform.tfstate.backup
/terraform_gcp/.terraform
/terraform_gcp/.terraform.lock.hcl

compose.yml

ansible/group_vars

.vscode

backend/.env
backend/node_modules

.github/workflows/.env