# Prometheus configuration for Docker Swarm
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

    # Traefik metrics
  - job_name: 'traefik'
    static_configs:
      - targets: ['traefik:8080']
    metrics_path: /metrics

  # Node Exporter on all servers
  {# - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
    metrics_path: /metrics #}

  - job_name: 'node-exporter'
    dns_sd_configs:
      - names:
          - 'tasks.projet-devops-gle_node-exporter'
        type: 'A'
        port: 9100
    metrics_path: /metrics

  # Docker Swarm services discovery
  - job_name: 'docker-swarm'
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: services
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_label_prometheus_scrape]
        action: keep
        regex: true
      - source_labels: [__meta_dockerswarm_service_label_prometheus_port]
        action: replace
        target_label: __address__
        regex: (.+)
        replacement: ${1}

  # Application specific metrics
  {# - job_name: 'myapp-backend'
    static_configs:
      - targets: ['backend:5000']
    metrics_path: /metrics
    scrape_interval: 30s #}
  - job_name: 'myapp-backend'
    dns_sd_configs:
      - names:
          - 'tasks.projet-devops-gle_backend'
        type: 'A'
        port: 5000
    metrics_path: /metrics
    scrape_interval: 30s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093
