services:
  frontend:
    build: .
    image: "{{ frontend_image_name | default('frontend-app') }}"
    container_name: "{{ frontend_container_name | default('frontend') }}"
    restart: unless-stopped
    ports:
      - "{{ frontend_port | default(3000) }}:3000"
    environment:
      REACT_APP_API_URL: "{{ backend_private_ip }}:5000"