[defaults]
inventory = inventories/hosts.ini
colorized = true
host_key_checking = false
remote_user = ubuntu
gathering = smart
fact_caching = memory
stdout_callback = yaml
callbacks_enabled = profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=3 -o ProxyCommand="ssh -W %h:%p -q ubuntu@34.38.190.28"
pipelining = True
control_path = ~/.ansible/cp/%%h-%%p-%%r